.back {
    background-color: white;
    outline: none;
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 20px;
    border: 3px #77ccf2 solid;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 50px;
}
.containe div {
    margin-top: 20px;
    margin-left: 50px;
    width: 450px;
    height: 45px;
    padding-left: 15px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    border: 1px #6E9FE9 inset;
    font-size: 14px;
    margin-right: 20px;
}