.navbar {
    display: flex;
    background-color: #6E9FE9;
    gap: 50px;
    height: 100px;
    padding-left: 30px;
}
.navbar div {
    padding-top: 35px;
}
.project-name {
    margin-right: 870px;
}
.avatar {
    width: 70px;
    height: 70px;
}
.navbar input {
    height: 40px;
    width: 150px;
    border: inset #6E9FE9;
    margin-left: -150px;
    padding-left: 20px;
    outline: none;
    margin-top: 33px;
    background-color: #fff;
    border-radius: 5px;
}